# Copy this into .env.local to enable Codespaces preview mode
# Replace with your own Codespace name.
VITE_CODESPACE_NAME=your-codespace-name

# When this value is unset, the app falls back to localhost at http://localhost:8000/api
